ul.sidebar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
ul.sidebar-list li{
    color: var(--Dark-01, #151515);
    font-family: 'Cinzel', serif;;
    font-size: 16px;
    padding: 10px 6px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}
ul.sidebar-list li::after{
    position: absolute;
    width: 0%;
    height: 100%;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    z-index: -1;
    background: #00000057;
    transition: 0.8s;
}
ul.sidebar-list li:hover::after{
    width: 100%;
}
ul.sidebar-list li a{
    display: flex;
    gap: 12px;
    align-items: center;
    transition: 0.6s;
}
ul.sidebar-list li a.active{
    color: #fff;
    font-weight: 700;
}