.footer-section {
    width: 100%;
    position: relative;
    background: #111827;
    z-index: 3;
}

.footer-section::after {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    left: 0;
    height: 100%;
    top: 0;
    background: #1F2937;
    z-index: -1;
}

.footer-section h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.footer-section p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 24px;
    /* 180% */
}